body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-lato: Lato;
  
    /* font sizes */
    --font-size-xl: 1.25rem;
    --font-size-lg: 1.125rem;
    --font-size-base: 1rem;
  
    /* Colors */
    --color-gray-100: #fdfdfd;
    --color-gray-200: rgba(253, 253, 253, 0.8);
    --color-gray-300: rgba(253, 253, 253, 0.7);
    --color-darkturquoise-100: #00c8d2;
    --color-darkturquoise-200: rgba(0, 200, 210, 0.4);
    --color-darkslategray-100: #004268;
    --color-darkslategray-200: #004168;
    --color-darkslategray-300: rgba(0, 66, 104, 0.6);
    --color-deepskyblue: #00acce;
    --color-skyblue: #1ac7e8;
    --color-lightseagreen: #00adb8;
    --color-aliceblue: #edf1f6;
  
    /* Gaps */
    --gap-5xl: 1.5rem;
    --gap-6xl: 1.562rem;
    --gap-xl: 1.25rem;
    --gap-8xs: 0.312rem;
  
    /* Paddings */
    --padding-smi: 0.812rem;
    --padding-xl: 1.25rem;
    --padding-87xl: 6.625rem;
    --padding-mini: 0.937rem;
    --padding-95xl: 7.125rem;
    --padding-10xl: 1.812rem;
    --padding-12xs: 0.062rem;
    --padding-2xs: 0.687rem;
    --padding-34xl: 3.312rem;
    --padding-12xl: 1.937rem;
    --padding-3xs: 0.625rem;
    --padding-mid: 1.062rem;
    --padding-xs: 0.75rem;
    --padding-7xl: 1.625rem;
    --padding-mini-5: 0.906rem;
  
    /* Border radiuses */
    --br-5xs: 8px;
  }
  .clinic-search-child,
.frame-child {
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: none;
}
.frame-child {
  align-self: stretch;
  width: 78.563rem;
  background-color: var(--color-darkturquoise-200);
  max-width: 100%;
}
.clinic-search-child {
  height: 3.125rem;
  width: 9.75rem;
  background-color: var(--color-deepskyblue);
}
.find-a-clinic {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  min-width: 7rem;
  z-index: 2;
}
.clinic-search {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl) var(--padding-smi) 1.5rem;
  background-color: var(--color-deepskyblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.clinic-search:hover {
  background-color: var(--color-skyblue);
}
.status {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 3.438rem;
  z-index: 1;
}
.status-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}
.divider {
  height: 3.25rem;
  width: 0.125rem;
  position: relative;
  border-right: 2px solid var(--color-deepskyblue);
  box-sizing: border-box;
  z-index: 1;
}
.search-status {
  height: 3.125rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.schedule {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 5.063rem;
  z-index: 1;
}
.schedule-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}
.frame-item {
  height: 3.25rem;
  width: 0.125rem;
  position: relative;
  border-right: 2px solid var(--color-deepskyblue);
  box-sizing: border-box;
  z-index: 1;
}
.successful-patients {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  white-space: nowrap;
  z-index: 1;
}
.successful-patients-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}
.frame-inner {
  height: 3.25rem;
  width: 0.125rem;
  position: relative;
  border-right: 2px solid var(--color-deepskyblue);
  box-sizing: border-box;
  z-index: 1;
}
.high-risk-history {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  white-space: nowrap;
  z-index: 1;
}
.high-risk-history-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}
.line-div,
.sent-record {
  position: relative;
  z-index: 1;
}
.line-div {
  height: 3.25rem;
  width: 0.125rem;
  border-right: 2px solid var(--color-deepskyblue);
  box-sizing: border-box;
}
.sent-record {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 6.688rem;
  white-space: nowrap;
}
.sent-record-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}
.health-facility-dashboard,
.rectangle-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent {
  height: 3.125rem;
  width: 81rem;  
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-darkturquoise-200);
  justify-content: flex-start;
  gap: 1.243rem;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-lato);
}
.health-facility-dashboard {
  width: 100%;
  height: 61.375rem;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  justify-content: flex-end;
  padding: 4.25rem 0 54rem;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 777px) {
  .search-status {
    display: none;
  }
  .rectangle-parent {
    width: 62.25rem;
  }
}