body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lato: Lato;

  /* font sizes */
  --font-size-56xl: 4.688rem;
  --font-size-41xl: 3.75rem;
  --font-size-26xl: 2.813rem;
  --font-size-lg: 1.125rem;
  --font-size-16xl: 2.188rem;
  --font-size-9xl: 1.75rem;
  --font-size-2xl: 1.313rem;
  --font-size-3xl: 1.375rem;
  --font-size-17xl: 2.25rem;
  --font-size-8xl: 1.688rem;
  --font-size-xl: 1.25rem;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;

  /* Colors */
  --color-gray-100: #fdfdfd;
  --color-gray-200: rgba(253, 253, 253, 0.7);
  --color-gray-300: rgba(253, 253, 253, 0.8);
  --color-azure: #ecfcff;
  --color-deepskyblue-100: #00acce;
  --color-deepskyblue-200: rgba(0, 172, 206, 0.05);
  --color-darkturquoise: #00c8d2;
  --color-darkslategray-100: #004268;
  --color-darkslategray-200: #004168;
  --color-darkslategray-300: rgba(0, 66, 104, 0.6);
  --color-aliceblue: #edf1f6;

  /* Gaps */
  --gap-xl: 1.25rem;
  --gap-16xl: 2.187rem;
  --gap-38xl: 3.562rem;
  --gap-9xl: 1.75rem;
  --gap-17xl: 2.25rem;
  --gap-lg: 1.125rem;
  --gap-4xs: 0.562rem;
  --gap-5xs: 0.5rem;

  /* Paddings */
  --padding-xl: 1.25rem;
  --padding-15xl: 2.125rem;
  --padding-xs: 0.75rem;
  --padding-6xs: 0.437rem;
  --padding-smi: 0.812rem;
  --padding-4xl: 1.437rem;
  --padding-7xs: 0.375rem;
  --padding-9xs: 0.25rem;
  --padding-3xl: 1.375rem;
  --padding-10xs: 0.187rem;
  --padding-11xs: 0.125rem;
  --padding-22xl: 2.562rem;
  --padding-3xs: 0.625rem;
  --padding-2xl: 1.312rem;
  --padding-36xl: 3.437rem;
  --padding-5xs: 0.5rem;
  --padding-sm: 0.875rem;
  --padding-mini: 0.937rem;
  --padding-12xs: 0.062rem;
  --padding-base: 1rem;
  --padding-51xl: 4.375rem;
  --padding-16xl: 2.187rem;

  /* Border radiuses */
  --br-5xs: 8px;
}
.decorations-child {
  align-self: stretch;
  height: 15rem;
  background-color: var(--color-azure);
  border: 1.5px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
  display: none;
}
.decorations-child,
.landmark-label-child,
.layer-1-icon {
  position: relative;
  border-radius: var(--br-5xs);
}
.landmark-label-child {
  height: 5rem;
  width: 5.625rem;
  background-color: var(--color-darkturquoise);
  display: none;
}
.layer-1-icon {
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.facilities-chart,
.landmark-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.landmark-label {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkturquoise);
  padding: var(--padding-5xs) var(--padding-smi);
  z-index: 1;
}
.facilities-chart {
  align-self: stretch;
  padding: 0 var(--padding-36xl);
}
.empty-accounts,
.total-health-facilities {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.empty-accounts {
  font-size: var(--font-size-26xl);
  font-weight: 800;
  color: var(--color-deepskyblue-100);
}
.accounts-chart,
.decorations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.accounts-chart {
  align-self: stretch;
  gap: var(--gap-4xs);
}
.decorations {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-azure);
  border: 1.5px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
  padding: var(--padding-3xl) 0 var(--padding-2xl);
  gap: var(--gap-9xl);
  min-width: 9.375rem;
}
.frame-child,
.frame-item {
  position: relative;
  border-radius: var(--br-5xs);
  display: none;
}
.frame-child {
  align-self: stretch;
  height: 15rem;
  background-color: var(--color-azure);
  border: 1.5px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
}
.frame-item {
  height: 5rem;
  width: 5.625rem;
  background-color: var(--color-darkturquoise);
}
.frame-icon {
  height: 4rem;
  width: 4rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.frame-wrapper,
.rectangle-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-group {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkturquoise);
  padding: var(--padding-5xs) var(--padding-smi);
  z-index: 1;
}
.frame-wrapper {
  align-self: stretch;
  padding: 0 var(--padding-36xl);
}
.div,
.new-accounts {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.div {
  font-size: var(--font-size-26xl);
  font-weight: 800;
  color: var(--color-deepskyblue-100);
}
.new-accounts-parent,
.rectangle-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.new-accounts-parent {
  align-self: stretch;
  gap: var(--gap-4xs);
}
.rectangle-parent {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-azure);
  border: 1.5px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
  padding: var(--padding-3xl) 0 var(--padding-2xl);
  gap: var(--gap-9xl);
  min-width: 9.375rem;
}
.frame-inner,
.rectangle-div {
  position: relative;
  border-radius: var(--br-5xs);
  display: none;
}
.frame-inner {
  align-self: stretch;
  height: 15rem;
  background-color: var(--color-azure);
  border: 1.5px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
}
.rectangle-div {
  height: 5rem;
  width: 5.625rem;
  background-color: var(--color-darkturquoise);
}
.frame-icon1 {
  height: 4rem;
  width: 4rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.frame-container,
.frame-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkturquoise);
  padding: var(--padding-5xs) var(--padding-smi);
  z-index: 1;
}
.frame-container {
  align-self: stretch;
  padding: 0 var(--padding-36xl);
}
.authorized-accounts,
.div1 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.div1 {
  font-size: var(--font-size-26xl);
  font-weight: 800;
  color: var(--color-deepskyblue-100);
}
.authorized-accounts-parent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-4xs);
}
.authorized-accounts-parent,
.facilities-overview,
.rectangle-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-container {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-azure);
  border: 1.5px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-3xl) 0 var(--padding-2xl);
  gap: var(--gap-9xl);
  min-width: 9.375rem;
}
.facilities-overview {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
}
.landmark-child {
  align-self: stretch;
  height: 16.75rem;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-azure);
  border: 1.5px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
  display: none;
}
.ownership {
  flex: 1;
  position: relative;
  z-index: 1;
}
.ownership-detail {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) 0 0;
}
.empty-institution {
  width: 7.5rem;
  position: relative;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.government {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.governmental {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-3xs) 0 0;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
}
.governmental,
.institution-type,
.ownership-type {
  display: flex;
  justify-content: flex-start;
}
.institution-type {
  width: 17.75rem;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-darkturquoise);
}
.ownership-type {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-17xl);
}
.empty-private {
  width: 7.5rem;
  position: relative;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.private1 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.private,
.private-type {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.private-type {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
}
.private {
  width: 17.75rem;
  flex-direction: row;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-darkturquoise);
}
.landmark,
.ownership-types-child {
  border-radius: var(--br-5xs);
  background-color: var(--color-azure);
  border: 1.5px solid var(--color-deepskyblue-100);
}
.landmark {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 var(--padding-22xl);
  gap: var(--gap-38xl);
}
.ownership-types-child {
  align-self: stretch;
  height: 16.75rem;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.institutional-character {
  flex: 1;
  position: relative;
  z-index: 1;
}
.institutional-character-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) 0 0;
}
.div2 {
  width: 7.5rem;
  position: relative;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.free-standing {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.free-standing-wrapper {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-3xs) 0 0;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
}
.frame-parent,
.free-standing-wrapper,
.parent {
  display: flex;
  justify-content: flex-start;
}
.parent {
  width: 17.75rem;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-darkturquoise);
}
.frame-parent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-17xl);
}
.div3 {
  width: 7.5rem;
  position: relative;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.institution-based {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.institution-based-wrapper {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-3xs) 0 0;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
}
.group,
.institution-based-wrapper,
.ownership-types {
  display: flex;
  justify-content: flex-start;
}
/* TODO: Conflict with sidebar */
/* .group { 
  width: 17.75rem;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-darkturquoise);
} */
.ownership-types {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-azure);
  border: 1.5px solid var(--color-deepskyblue-100);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-xl) 0 var(--padding-22xl);
  gap: var(--gap-38xl);
}
.main,
.ownership-structure {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ownership-structure {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
  font-size: var(--font-size-3xl);
}
.main {
  width: 40rem;
  flex-direction: column;
  gap: 1.312rem;
  min-width: 40rem;
  max-width: 100%;
}
.month-value-icon {
  height: 1.375rem;
  width: 1.375rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.april-2024 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  white-space: pre-wrap;
  display: inline-block;
  min-width: 5.563rem;
  z-index: 1;
}
.current-day {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.hidden-next-icon {
  width: 1.375rem;
  height: 1.375rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.next-month {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.month-label,
.month-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.month-label {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.month-name {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 1.125rem 0 1.062rem;
  box-sizing: border-box;
}
.s-m-t,
.weekdays-child {
  position: relative;
  max-width: 100%;
}
.weekdays-child {
  height: 1.938rem;
  width: 26.25rem;
  background-color: var(--color-gray-300);
  border-right: 1.5px solid var(--color-deepskyblue-100);
  border-left: 1.5px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
  display: none;
}
.s-m-t {
  flex: 1;
  display: inline-block;
  white-space: pre-wrap;
  z-index: 2;
}
.month,
.weekdays {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.weekdays {
  background-color: var(--color-gray-300);
  border-right: 1.5px solid var(--color-deepskyblue-100);
  border-left: 1.5px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-7xs) 0 var(--padding-10xs) 1.187rem;
  z-index: 1;
  color: var(--color-darkslategray-100);
}
.month {
  flex-direction: column;
  gap: 0.375rem;
  color: var(--color-darkslategray-200);
}
.navigation-buttons {
  flex: 1;
  position: relative;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.div4 {
  flex: 1;
  position: relative;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.current-day-label {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.current-day-label,
.span {
  white-space: pre-wrap;
}
.span1 {
  color: var(--color-gray-100);
}
.span2 {
  white-space: pre-wrap;
}

.div5 {
  flex: 1;
  position: relative;
  font-weight: 600;
  white-space: pre-wrap;
  flex-shrink: 0;
  z-index: 1;
}
.statistics-detail-child,
.statistics-types-child {
  position: relative;
  display: none;
}
.statistics-types-child {
  align-self: stretch;
  height: 13.188rem;
  border-radius: var(--br-5xs);
  background-color: var(--color-azure);
}
.statistics-detail-child {
  height: 3.125rem;
  width: 12.5rem;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--color-deepskyblue-100);
}
.number-of-hospitals {
  flex: 1;
  position: relative;
  z-index: 2;
}
.statistics-detail {
  align-self: stretch;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--color-deepskyblue-100);
  border: 1.5px solid var(--color-deepskyblue-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0;
  white-space: nowrap;
  z-index: 1;
}
.empty-statistics {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-56xl);
  font-weight: 800;
  color: var(--color-darkturquoise);
  z-index: 1;
}
.frame-child1,
.statistics-types,
.statistics-types-item {
  border: 1.5px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
}
.statistics-types {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-azure);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-15xl);
  gap: var(--gap-16xl);
  min-width: 12.438rem;
}
.frame-child1,
.statistics-types-item {
  position: relative;
  display: none;
}
.statistics-types-item {
  align-self: stretch;
  height: 13.188rem;
  border-radius: var(--br-5xs);
  background-color: var(--color-azure);
}
.frame-child1 {
  height: 3.125rem;
  width: 12.5rem;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--color-deepskyblue-100);
}
.number-of-patients {
  flex: 1;
  position: relative;
  z-index: 2;
}
.div6,
.rectangle-parent1 {
  align-self: stretch;
  z-index: 1;
}
.rectangle-parent1 {
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--color-deepskyblue-100);
  border: 1.5px solid var(--color-deepskyblue-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0;
  white-space: nowrap;
}
.div6 {
  position: relative;
  font-size: var(--font-size-56xl);
  font-weight: 800;
  color: var(--color-darkturquoise);
}
.statistics-types1 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-azure);
  border: 1.5px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-15xl);
  gap: var(--gap-16xl);
  min-width: 12.438rem;
}
.statistics-types-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: center;
  color: var(--color-gray-100);
}
.admin-dashboard1,
.statistics-types-parent {
  display: flex;
  align-items: flex-start;
}

.admin-dashboard1 {
  width: 100%;
  position: absolute;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: 6.25rem var(--padding-xl) 22.062rem 15rem;
  box-sizing: border-box;
  gap: var(--gap-xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-lato);
}
.calendar-layout-child {
  align-self: stretch;
  height: 18.438rem;
  position: relative;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: var(--br-5xs);
  background-color: var(--color-aliceblue);
  border: 1.5px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
  display: none;
}
.calendar {
  width: 26.25rem;
  flex-direction: column;
  gap: var(--gap-4xl);
  min-width: 26.25rem;
  text-align: left;
}
.calendar-layout-child {
  align-self: stretch;
  height: 18.438rem;
  position: relative;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: var(--br-5xs);
  background-color: var(--color-aliceblue);
  border: 1.5px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
  display: none;
}
.calendar-layout{
  border-radius: var(--br-5xs);
    background-color: var(--color-aliceblue);
    border: 1.5px solid var(--color-deepskyblue-100);
    box-sizing: border-box;
    max-width: 100%;
    height: 18rem;
    margin-bottom: 1.8rem;
}
.calendar-layout {
  align-self: stretch;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 var(--padding-smi);
  gap: var(--gap-xs);
}
.calendar-header {
  display: contents;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.month-selector {
  display: flex;
  align-items: center;     /* Center items vertically within the .month-selector */
  gap: 10px;               
}
.month-selector img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.current-month {
  margin: 0 10px;
}
.current-month a {
  text-decoration: none;
  color: #004168;
  font-weight: bold;
}

.month-year {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 var(--padding-3xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-wrap: wrap;
}

.weekdays {
  display: flex;
  justify-content: space-between;
}
.weekdays b {
  width: 100%;
  text-align: center;
  letter-spacing: 1.3rem;
}
.month-year div {
  width: calc(99% / 7);
  text-align: center;
  line-height: 2.13rem;        
}
.current-day-label {
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: calc(100% / 7);
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}

.highlight {
  border-radius: 50%; 
  background-color: #00ACCE;
  color: #fff;
}

#next-month{
  margin-top: 0.6rem;        
}
#prev-month, #next-month {
  cursor: pointer;         /* Optional: changes the cursor to a pointer on hover */
}
.month-navigation {
  display: flex;
  justify-content: center; /* Center the .month-selector horizontally */
  align-items: center;     /* Center the .month-selector vertically */
  height: 100%;            /* Optional: Ensure it takes the full height of its parent */
  width: 100%;             /* Ensure it takes the full width if necessary */
  box-sizing: border-box;  /* Prevents padding/border from affecting the width */           /* Ensures the div takes up the full height of its parent if needed */
}
.accounts-table {
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling */
  border-radius: var(--br-5xs);
  border: 1.5px solid var(--color-deepskyblue-100);
}

/* Styling for the table */
.simple-table {
  width: 100%;
  min-width: 1000px; /* Ensures the table is wide enough to trigger scrolling */
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Optional: Add a margin to center the table if needed */
}

/* Styling for table headers and cells */
.simple-table th, .simple-table td {
  padding: 8px;
  text-align: left;
  white-space: nowrap; /* Prevents text from wrapping */
  color: #004168; /* Dark blue text color */
}

/* Header styling */
.simple-table th {
  background-color: var(--color-deepskyblue-100);
  font-weight: bold;
  color: #fdfdfd;
}

/* Alternate row coloring */
.simple-table tr{
    background-color: var(--color-azure);
    color: var(--color-darkslategray-100);
    font-weight: 500;
}
/* Footer row styling */
.simple-table tfoot {
  background-color: #f4f4f4; /* Light grey background for footer */
}

.simple-table .footer-cell {
  text-align: center;        /* Center the content in the footer cell */
  background-color: var(--color-deepskyblue-100);
  font-weight: bold;
  color: #fdfdfd;
}

.simple-table button {
  font-size: 16px;           /* Adjust font size */
  cursor: pointer;           /* Change cursor to pointer on hover */
}

@media screen and (max-width: 1275px) {
  .main {
    flex: 1;
  }
  .admin-dashboard1 {
    flex-wrap: wrap;
    padding-left: 7.5rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .main {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .div,
  .div1,
  .empty-accounts {
    font-size: var(--font-size-17xl);
  }
  .facilities-overview {
    flex-wrap: wrap;
  }
  .div2,
  .div3,
  .empty-institution,
  .empty-private {
    font-size: var(--font-size-9xl);
  }
  .ownership-structure {
    flex-wrap: wrap;
  }
  .div6,
  .empty-statistics {
    font-size: var(--font-size-41xl);
  }

  .admin-dashboard1 {
    padding-left: 3.75rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .div,
  .div1,
  .empty-accounts {
    font-size: var(--font-size-8xl);
  }
  .ownership {
    font-size: var(--font-size-lg);
  }
  .empty-institution {
    font-size: var(--font-size-2xl);
  }
  .ownership-type {
    gap: var(--gap-lg);
  }
  .empty-private {
    font-size: var(--font-size-2xl);
  }
  .landmark {
    gap: var(--gap-9xl);
  }
  .institutional-character {
    font-size: var(--font-size-lg);
  }
  .div2 {
    font-size: var(--font-size-2xl);
  }
  .frame-parent {
    gap: var(--gap-lg);
  }
  .div3 {
    font-size: var(--font-size-2xl);
  }
  .ownership-types {
    gap: var(--gap-9xl);
  }
  .month-label {
    flex-wrap: wrap;
  }
  .div6,
  .empty-statistics {
    font-size: var(--font-size-26xl);
  }
  .statistics-types-parent {
    flex-wrap: wrap;
  }
  .admin-dashboard1 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}