.frame-child,
.frame-item {
  position: relative;
  display: none;
}
.frame-child {
  align-self: stretch;
  width: 78.563rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #edf1f6;
  max-width: 100%;
}
.frame-item {
  height: 3.125rem;
  width: 9.125rem;
  background-color: #00acce;
}
.hospital-data {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 7.75rem;
  z-index: 2;
}
.rectangle-group {
  background-color: #00acce;
  flex-direction: row;
  padding: 0.812rem 0.625rem 0.812rem 0.75rem;
  white-space: nowrap;
  z-index: 1;
}
.frame-inner,
.rectangle-group,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-inner {
  width: 5.125rem;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 2.313rem;
  flex-direction: column;
  padding: 0.812rem 0 0;
  box-sizing: border-box;
  font-family: Lato;
  font-weight: 600;
  font-size: 1.25rem;
  color: #004268;
}
.rectangle-parent {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #edf1f6;
  flex-direction: row;
  gap: 0.875rem;
  max-width: 100%;
}
.total-number-of {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.total-number-of-hospitals-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 0.062rem;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-div {
  height: 3.125rem;
  width: 25.188rem;
  position: relative;
  border-radius: 8px;
  background-color: #edf1f6;
  border: 2px solid #00c8d2;
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 1;
}
.layer-1-icon,
.search {
  position: relative;
  flex-shrink: 0;
}
.search {
  width: calc(100% - 57px);
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: Lato;
  font-size: 1.125rem;
  background-color: transparent;
  height: 1.375rem;
  flex: 1;
  color: rgba(0, 66, 104, 0.6);
  text-align: left;
  display: inline-block;
  min-width: 15.438rem;
  max-width: 106%;
  padding: 0;
  z-index: 1;
}
.layer-1-icon {
  width: 1.188rem;
  height: 1.188rem;
  overflow: hidden;
  z-index: 2;
}
.frame-div,
.layer-1-wrapper,
.rectangle-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.layer-1-wrapper {
  flex-direction: column;
  padding: 0.125rem 0 0;
  margin-left: -2.438rem;
}
.frame-div,
.rectangle-container {
  max-width: 100%;
}
.rectangle-container {
  width: 25.188rem;
  border-radius: 8px;
  background-color: #edf1f6;
  border: 2px solid #00c8d2;
  box-sizing: border-box;
  flex-direction: row;
  padding: 0.625rem 1rem 0.75rem 1.375rem;
  row-gap: 20px;
}
.frame-div {
  align-self: stretch;
  flex-direction: column;
  gap: 1.062rem;
}
.showing-1- {
  position: relative;
  font-weight: 500;
  white-space: pre-wrap;
}
.frame-container,
.showing-1-20-of-25-items-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.showing-1-20-of-25-items-wrapper {
  flex-direction: row;
  padding: 0 0.062rem;
  font-size: 0.875rem;
  color: #004168;
}
.frame-container {
  flex: 1;
  flex-direction: column;
  gap: 42.5rem;
  max-width: 100%;
}
.frame-child1 {
  height: 3.125rem;
  width: 11.2rem;
  position: relative;
  border-radius: 8px;
  background-color: #00c8d2;
  display: none;
}
.add-hospital {
  align-self: stretch;
  position: relative;
  font-weight: 800;
  white-space: pre-wrap;
  z-index: 2;
  text-align: center;
}
.add-button-duplicate {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.125rem 0 0;
}
.add-hospital1 {
  width: 11.2rem;
  position: relative;
  font-weight: 800;
  color: #00c8d2;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -12.813rem;
}
.add-button-container {
  margin-left: -1.688rem;
  width: 14.5rem;
  flex-direction: row;
  padding: 0 1.562rem 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.add-button-container,
.frame-wrapper1,
.group-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-div {
  align-self: stretch;
  border-radius: 8px;
  background-color: #00c8d2;
  flex-direction: row;
  padding: 0.75rem 0;
}
.frame-wrapper1 {
  width: 11.25rem;
  flex-direction: column;
  padding: 2.625rem 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.25rem;
  color: #fdfdfd;
}
.frame-group,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-group {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  row-gap: 20px;
}
.frame-wrapper {
  width: 37.063rem;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 0.437rem;
  box-sizing: border-box;
}
.number-of-hospitals {
  align-self: stretch;
  position: relative;
}
.hospital-number-value {
  width: 10.25rem;
  position: relative;
  font-size: 2.813rem;
  font-weight: 800;
  color: #00acce;
  text-align: center;
  display: inline-block;
}
.number-display-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.5rem;
}
.hospital-number-display {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0.125rem 0 0;
}
.frame-child2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 172, 206, 0.05);
  border-top: 1.5px solid #00acce;
  border-bottom: 1.5px solid #00acce;
  border-left: 1.5px solid #00acce;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}
.vector-icon {
  position: absolute;
  top: 0.625rem;
  left: 0.688rem;
  width: 0.5rem;
  height: 0.75rem;
  object-fit: contain;
  z-index: 1;
}
.frame-child3,
.rectangle-parent1 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
  background-color: rgba(0, 172, 206, 0.05);
  border-top: 1.5px solid #00acce;
  border-bottom: 1.5px solid #00acce;
  border-left: 1.5px solid #00acce;
  box-sizing: border-box;
}
.frame-child3 {
  display: none;
}
.b {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child4,
.rectangle-parent2 {
  background-color: rgba(0, 172, 206, 0.05);
}
.rectangle-parent2 {
  flex: 1;
  border-top: 1.5px solid #00acce;
  border-bottom: 1.5px solid #00acce;
  border-left: 1.5px solid #00acce;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.312rem 0 0.25rem;
}
.frame-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border: 1.5px solid #00acce;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}
.vector-icon1 {
  position: absolute;
  top: 0.625rem;
  left: 0.688rem;
  width: 0.5rem;
  height: 0.75rem;
  object-fit: contain;
  z-index: 1;
}
.rectangle-parent3 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
  background-color: rgba(0, 172, 206, 0.05);
  border: 1.5px solid #00acce;
  box-sizing: border-box;
}
.frame-parent1,
.hospital-number-display-parent {
  width: 5.625rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: 0.875rem;
}
.hospital-number-display-parent {
  width: 11.313rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 41.937rem;
  text-align: right;
  font-size: 1.125rem;
}
.frame-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: 22.25rem;
  text-align: left;
  font-size: 1.375rem;
  color: #004268;
  font-family: Lato;
  margin-left: 3rem;
}
.admin-record-hospital-daa,
.admin-record-hospital-daa-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.admin-record-hospital-daa-inner {
  width: 76.438rem;
  flex-direction: row;
  padding: 0 4.375rem;
  max-width: 100%;
}
.admin-record-hospital-daa {
  width: 100%;
    position: relative;
    background-color: #fdfdfd;
    overflow: hidden;
    flex-direction: column;
    padding: 0 0 2.312rem 14.937rem;
    gap: 1.75rem;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 1.25rem;
    color: #fdfdfd;
    font-family: Lato;
    left: 0.9rem;
}
.popup-overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  z-index: 1000;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 300px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .frame-parent {
    flex-wrap: wrap;
    justify-content: center;
  }
  .admin-record-hospital-daa-inner {
    padding-left: 2.188rem;
    padding-right: 2.188rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .hospital-number-value {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 750px) {
  .frame-group {
    flex-wrap: wrap;
  }
  .admin-record-hospital-daa {
    padding-left: 7.938rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .rectangle-parent {
    flex-wrap: wrap;
  }
  .total-number-of {
    font-size: 1.125rem;
  }
  .layer-1-wrapper {
    margin-left: 0;
  }
  .rectangle-container {
    flex-wrap: wrap;
  }
  .frame-container {
    gap: 21.25rem;
  }
  .add-hospital,
  .add-hospital1 {
    font-size: 1rem;
  }
  .hospital-number-value {
    font-size: 1.688rem;
  }
  .admin-record-hospital-daa {
    padding-left: 1.25rem;
    box-sizing: border-box;
  }
}